.bg-dark-custom {
  background-color: #343a40;
}

.nav-link-custom {
  color: white !important;
}

#navbarNav {
  margin-left: 800px;
}

.nav-link-custom:hover {
  color: #d1d1d1;
}

.navbar-nav {
  margin-left: 0;
  margin-right: 0;
}

.text-body-emphasis {
  font-size: 80px;
  margin-bottom: 10px;
  text-align: left;
}

.btn {
  margin: 0;
}

.card {
  margin: 0 auto;
  box-shadow: none;
}

.container {
  overflow-x: hidden;
}

.footer {
  padding: 20px;
  background-color: #343a40;
  color: white;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}